---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
---

<script
	type="text/javascript"
	src="https://assets.calendly.com/assets/external/widget.js"
></script>

<style>
	.container-hero {
		position: relative;
		overflow: hidden;
		z-index: 10;
	}

	.hero-gradient-circle-top {
		position: absolute;
		top: -30%;
		right: -30%;
		z-index: -10;
	}
	.hero-gradient-circle-bottom {
		position: absolute;
		bottom: -20%;
		left: -30%;
		z-index: -10;
	}
</style>

<BaseLayout title="Pricing for Cypress | Cypress.health">
	<main>
		<div class="container md:max-w-full">
			<!-- Hero -->
			<div class="container-hero relative bg-emerald-700">
				<img
					class="hero-gradient-circle-top"
					src="/images/gradient-circle-large.svg"
					alt=""
				/>

				<div
					class="max-w-[85rem] md:max-w-7xl px-4 py-12 sm:px-6 lg:px-16 lg:pb-16 lg:py-32 mx-auto"
				>
					<!-- Grid -->
					<div class="max-w-5xl mx-auto text-left">
						<div>
							<h1
								class="block text-5xl text-center tracking-tighter font-bold text-white sm:text-4xl lg:text-8xl lg:leading-none dark:text-white"
							>
								Unlimited Virtual Medical Assistant Plan
							</h1>
							<p
								class="mt-6 font-inter text-2xl text-center w-100 max-w-2xl m-auto text-white dark:text-gray-400"
							>
								Get a Dedicated Virtual Medical Assistant with Unlimited Work at
								an Affordable Monthly Price
							</p>
						</div>
						<!-- End Col -->
					</div>
					<!-- End Grid -->

					<!-- Pricing Grid start  -->
					<div class="grid gap-32 mt-32">
						<!-- Medical Receptionist & Records Management Category - 1 -->
						<div>
							<h1
								class="block text-5xl text-center tracking-tighter text-white lg:leading-none dark:text-white py-8"
							>
								Medical Receptionist & Records Management
							</h1>

							<!-- Grid -->
							<div
								class="mt-6 md:mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-6 lg:gap-3 xl:gap-6 lg:items-top"
							>
								<!-- Card -->
								<div
									class="flex flex-col bg-white border border-gray-200 text-left rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
								>
									<div class="grid gap-2 mt-4">
										<span
											class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full font-medium bg-gray-800 text-white w-fit"
											>Tier-1</span
										>
										<h4
											class="font-semibold text-3xl text-gray-900 dark:text-gray-200"
										>
											Part time
										</h4>
										<p class="text-base text-gray-700">
											Ideal for Offline tasks <br /> Can handle Online tasks
										</p>
									</div>

									<p class="mt-6 mb-3">
										<span
											class="font-bold text-3xl md:text-4xl xl:text-5xl text-emerald-700 dark:text-gray-200"
											><span class="text-xl">$</span>399</span
										><span class="text-xl">/month</span>
									</p>

									<button
										type="button"
										class="py-3 px-4 mt-4 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-emerald-700 text-white hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
									>
										<a onclick="openCalendlyWidget()" href="#calendly">
											Get started
										</a>
									</button>

									<ul class="mt-7 space-y-2.5 text-sm">
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												4 Hours/Day, Mon-Fri</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Shift timing 10PM-7AM CST</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Dedicated Assistant</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Medical assisting trained</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Unlimited Work</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Entirely Managed</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Customer Success Manager</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Call, Chat, Slack</span
											>
										</li>
									</ul>
								</div>
								<!-- End Card -->

								<!-- Card -->
								<div
									class="flex flex-col bg-white border border-gray-200 text-left rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
								>
									<div class="grid gap-2 mt-4">
										<span
											class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full font-medium bg-gray-800 text-white w-fit"
											>Tier-1</span
										>
										<h4
											class="font-semibold text-3xl text-gray-900 dark:text-gray-200"
										>
											Full-Time Mid Shift
										</h4>
										<p class="text-base text-gray-700">
											Ideal for Offline tasks <br /> Can handle Online tasks
										</p>
									</div>

									<p class="mt-6 mb-3">
										<span
											class="font-bold text-3xl md:text-4xl xl:text-5xl text-emerald-700 dark:text-gray-200"
											><span class="text-xl">$</span>750</span
										><span class="text-xl">/month</span>
									</p>

									<button
										type="button"
										class="py-3 px-4 mt-4 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-emerald-700 text-white hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
									>
										<a onclick="openCalendlyWidget()" href="#calendly">
											Get started
										</a>
									</button>

									<ul class="mt-7 space-y-2.5 text-sm">
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												8 Hours/Day, Mon-Fri</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Shift timing 2AM-10AM CST</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Dedicated Assistant</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Medical assisting trained</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Unlimited Work</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Entirely Managed</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Customer Success Manager</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Call, Chat, Slack</span
											>
										</li>
									</ul>
								</div>
								<!-- End Card -->

								<!-- Card -->
								<div
									class="flex flex-col bg-white border border-gray-200 text-left rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
								>
									<div class="grid gap-2 mt-4">
										<span
											class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full font-medium bg-gray-800 text-white w-fit"
											>Tier-2</span
										>
										<h4
											class="font-semibold text-3xl text-gray-900 dark:text-gray-200"
										>
											Full - Time US Shift
										</h4>
										<p class="text-base text-gray-700">
											Ideal for US Shift tasks
											<br /> Can handle Online & calls
										</p>
									</div>

									<p class="mt-6 mb-3">
										<span
											class="font-bold text-3xl md:text-4xl xl:text-5xl text-emerald-700 dark:text-gray-200"
											><span class="text-xl">$</span>1000</span
										><span class="text-xl">/month</span>
									</p>

									<button
										type="button"
										class="py-3 px-4 mt-4 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-emerald-700 text-white hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
									>
										<a onclick="openCalendlyWidget()" href="#calendly">
											Get started
										</a>
									</button>

									<ul class="mt-7 space-y-2.5 text-sm">
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												4 Hours/Day, Mon-Fri</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Shift timing 8AM-4PM CST</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Dedicated Assistant</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Medical assisting trained</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Unlimited Work</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Entirely Managed</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Customer Success Manager</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Call, Chat, Slack</span
											>
										</li>
									</ul>
								</div>
								<!-- End Card -->
							</div>
							<!-- End Grid -->
						</div>

						<!-- Medical Assistant - Clinical background Category - 2 -->
						<div>
							<h1
								class="block text-5xl text-center tracking-tighter text-white lg:leading-none dark:text-white py-8"
							>
								Medical Assistant - Clinical background
							</h1>

							<!-- Grid -->
							<div
								class="mt-6 md:mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-6 lg:gap-3 xl:gap-6 lg:items-top"
							>
								<!-- Card -->
								<div
									class="flex flex-col bg-white border border-gray-200 text-left rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
								>
									<div class="grid gap-2 mt-4">
										<span
											class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full font-medium bg-gray-800 text-white w-fit"
											>Tier-1</span
										>
										<h4
											class="font-semibold text-3xl text-gray-900 dark:text-gray-200"
										>
											Part time
										</h4>
										<p class="text-base text-gray-700">
											Ideal for Offline tasks <br /> Can handle Online tasks
										</p>
									</div>

									<p class="mt-6 mb-3">
										<span
											class="font-bold text-3xl md:text-4xl xl:text-5xl text-emerald-700 dark:text-gray-200"
											><span class="text-xl">$</span>500</span
										><span class="text-xl">/month</span>
									</p>

									<button
										type="button"
										class="py-3 px-4 mt-4 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-emerald-700 text-white hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
									>
										<a onclick="openCalendlyWidget()" href="#calendly">
											Get started
										</a>
									</button>

									<ul class="mt-7 space-y-2.5 text-sm">
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												4 Hours/Day, Mon-Fri</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Shift timing 10PM-7AM CST</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Dedicated Assistant</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Medical assisting trained</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Unlimited Work</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Entirely Managed</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Customer Success Manager</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Call, Chat, Slack</span
											>
										</li>
									</ul>
								</div>
								<!-- End Card -->

								<!-- Card -->
								<div
									class="flex flex-col bg-white border border-gray-200 text-left rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
								>
									<div class="grid gap-2 mt-4">
										<span
											class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full font-medium bg-gray-800 text-white w-fit"
											>Tier-1</span
										>
										<h4
											class="font-semibold text-3xl text-gray-900 dark:text-gray-200"
										>
											Full-Time Mid Shift
										</h4>
										<p class="text-base text-gray-700">
											Ideal for Offline tasks <br /> Can handle Online tasks
										</p>
									</div>

									<p class="mt-6 mb-3">
										<span
											class="font-bold text-3xl md:text-4xl xl:text-5xl text-emerald-700 dark:text-gray-200"
											><span class="text-xl">$</span>1000</span
										><span class="text-xl">/month</span>
									</p>

									<button
										type="button"
										class="py-3 px-4 mt-4 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-emerald-700 text-white hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
									>
										<a onclick="openCalendlyWidget()" href="#calendly">
											Get started
										</a>
									</button>

									<ul class="mt-7 space-y-2.5 text-sm">
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												8 Hours/Day, Mon-Fri</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Shift timing 2AM-10AM CST</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Dedicated Assistant</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Medical assisting trained</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Unlimited Work</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Entirely Managed</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Customer Success Manager</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Call, Chat, Slack</span
											>
										</li>
									</ul>
								</div>
								<!-- End Card -->

								<!-- Card -->
								<div
									class="flex flex-col bg-white border border-gray-200 text-left rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
								>
									<div class="grid gap-2 mt-4">
										<span
											class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full font-medium bg-gray-800 text-white w-fit"
											>Tier-2</span
										>
										<h4
											class="font-semibold text-3xl text-gray-900 dark:text-gray-200"
										>
											Full - Time US Shift
										</h4>
										<p class="text-base text-gray-700">
											Ideal for US Shift tasks
											<br /> Can handle Online & calls
										</p>
									</div>

									<p class="mt-6 mb-3">
										<span
											class="font-bold text-3xl md:text-4xl xl:text-5xl text-emerald-700 dark:text-gray-200"
											><span class="text-xl">$</span>1500</span
										><span class="text-xl">/month</span>
									</p>

									<button
										type="button"
										class="py-3 px-4 mt-4 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-emerald-700 text-white hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
									>
										<a onclick="openCalendlyWidget()" href="#calendly">
											Get started
										</a>
									</button>

									<ul class="mt-7 space-y-2.5 text-sm">
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												4 Hours/Day, Mon-Fri</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Shift timing 8AM-4PM CST</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Dedicated Assistant</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Medical assisting trained</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Unlimited Work</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Entirely Managed</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Customer Success Manager</span
											>
										</li>
										<li class="flex space-x-2">
											<img
												src="/icons/pageicons/check-circle-green.svg"
												alt=""
											/>
											<span class="text-gray-800 dark:text-gray-400">
												Call, Chat, Slack</span
											>
										</li>
									</ul>
								</div>
								<!-- End Card -->
							</div>
							<!-- End Grid -->
						</div>
					</div>
				</div>

				<img
					class="hero-gradient-circle-bottom"
					src="/images/gradient-circle-large.svg"
					alt=""
				/>
			</div>
			<!-- End Hero -->

			<!-- Testimonials -->
			<div class="relative overflow-hidden">
				<div class="bg-white min-h-[480px] m-auto flex">
					<!-- Grid -->
					<div
						class="testimonial-container max-w-5xl bg-white p-8 py-10 flex lg:items-center rounded-md justify-center mx-auto gap-4"
					>
						<div>
							<!-- Blockquote -->
							<blockquote>
								<img src="/images/quotes-big.svg" alt="" class="mb-8" />
								<p
									class="font-semibold text-gray-800 lg:text-3xl lg:leading-normal dark:text-gray-200 mb-4"
								>
									Cypress was crucial for our startup's cash conservation and
									efficient ramp-up in our first year. Highly recommended.
								</p>
								<p
									class="font-medium lg:text-xl text-gray-800 dark:text-gray-200"
								>
									Director - Beats cardiology
								</p>
							</blockquote>
							<!-- End Blockquote -->
						</div>

						<img
							src="/images/beatsCardiology-logo.png"
							alt=""
							style="width: 40%;"
						/>
					</div>
					<!-- End Grid -->
				</div>
			</div>
			<!-- End Testimonials -->
		</div>

		<BannerFooterSection />

		<!-- Calendly inline widget begin -->
		<div class="calendly-widget-overlay calendly-close-button">
			<div
				class="calendly-inline-widget"
				style="min-width: 320px; height: 680px"
				data-auto-load="false"
			>
				<h2 class="title is-size-5 calendly-widget-close">Close X</h2>
				<script
					type="text/javascript"
					src="https://assets.calendly.com/assets/external/widget.js"
				></script>
				<script>
					Calendly.initInlineWidget({
						url: 'https://calendly.com/trillium-vineeth/primrose-discovery',
					});
				</script>
			</div>
		</div>
		<!-- Calendly inline widget end -->

		<script>
			const calendlyCloseButton = document.querySelector(
				'.calendly-close-button'
			);

			calendlyCloseButton.addEventListener('click', () => {
				document.querySelector('.calendly-widget-overlay').style.display =
					'none';
			});

			const calendlyOpenButton = document.querySelectorAll(
				'.calendly-open-button'
			);

			// Handle clicks on each button.
			calendlyOpenButton.forEach((button) => {
				button.addEventListener('click', () => {
					document.querySelector('.calendly-widget-overlay').style.display =
						'block';
				});
			});
		</script>
	</main>
</BaseLayout>
