---
const date = new Date().getFullYear();
console.log(date);
---

<script
	type="text/javascript"
	src="https://assets.calendly.com/assets/external/widget.js"
></script>

<style></style>

<!-- CTA Banner -->
<div class="relative overflow-hidden bg-[#FEEFE5]">
	<div
		class="max-w-[85rem] md:w-full px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto rounded-md flex items-center justify-center"
		style="min-height:380px;"
	>
		<div class="flex flex-row gap-16 justify-between text-left">
			<div>
				<h2
					class="text-2xl font-bold md:text-4xl text-gray-800 dark:text-white leading-tight mb-4"
				>
					Try Cypress, your affordable <br /> virtual medical assistant.
				</h2>
				<button
					type="button"
					class="w-fit py-3 px-4 text-base md:py-4 md:px-4 md:text-lg mt-6 inline-flex calendly-open-button justify-center items-center gap-2 font-medium rounded-md border border-transparent bg-emerald-700 text-white hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800"
				>
					<a onclick="openCalendlyWidget()" href="#calendly">
						Try Cypress now
					</a>
				</button>
			</div>

			<ul class="grid grid-rows-3 justify-start gap-5">
				<li class="flex space-x-3 justify-start p-2 rounded-md">
					<svg
						class="flex-shrink-0 h-6 w-6"
						width="16"
						height="16"
						viewBox="0 0 16 16"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
							fill="currentColor"
							class="fill-emerald-700"></path>
						<path
							d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
							fill="currentColor"
							class="fill-white"></path>
					</svg>
					<span class="text-gray-800 dark:text-gray-400 text-2xl">
						Truly dedicated virtual assistant</span
					>
				</li>

				<li class="flex space-x-3 justify-start p-2 rounded-md">
					<svg
						class="flex-shrink-0 h-6 w-6"
						width="16"
						height="16"
						viewBox="0 0 16 16"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
							fill="currentColor"
							class="fill-emerald-700"></path>
						<path
							d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
							fill="currentColor"
							class="fill-white"></path>
					</svg>
					<span class="text-gray-800 dark:text-gray-400 text-2xl">
						Works like a regular team member in your practice</span
					>
				</li>

				<li class="flex space-x-3 justify-start p-2 rounded-md">
					<svg
						class="flex-shrink-0 h-6 w-6"
						width="16"
						height="16"
						viewBox="0 0 16 16"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
							fill="currentColor"
							class="fill-emerald-700"></path>
						<path
							d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
							fill="currentColor"
							class="fill-white"></path>
					</svg>
					<span class="text-gray-800 dark:text-gray-400 text-2xl">
						Unlimited work. Monthly Fixed rate - starting $399/mo
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- End CTA Banner -->

<div class="w-full bg-white">
	<footer class="w-full max-w-[85rem] py-16 px-4 sm:px-6 lg:px-8 mx-auto">
		<!-- Grid -->
		<div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-6 mb-10">
			<div class="col-span-full hidden lg:col-span-1 lg:block">
				<a class="flex-none text-xl font-semibold dark:text-white" href="/">
					<img
						class=""
						src="icons/brandlogos/cypress-logo-with-name-sm.svg"
						alt=""
					/>
				</a>
				<p
					class="mt-3 ml-2 text-base sm:text-base text-gray-600 dark:text-gray-400"
				>
					© {date} Cypress.health
				</p>
			</div>
			<!-- End Col -->

			<div>
				<h4
					class="text-base font-semibold text-gray-900 uppercase dark:text-gray-100"
				>
					SERVICES
				</h4>

				<div class="mt-3 grid space-y-3 text-base">
					<p>
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="/medical-receptionist"
						>
							Medical Receptionist</a
						>
					</p>
					<p>
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="/medical-assistant"
							>Medical assistant
						</a>
					</p>
					<p>
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="/managing-referrals"
							>Managing referrals
						</a>
					</p>
					<p>
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="/records-financial-management"
							>Records & Financial Management
						</a>
					</p>
					<p>
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="/managing-prior-auth"
							>Managing Prior Authorizations
						</a>
					</p>
					<p>
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="/medical-billing"
							>Medical billing
						</a>
					</p>
				</div>
			</div>
			<!-- End Col -->

			<div>
				<h4
					class="text-base font-semibold text-gray-900 uppercase dark:text-gray-100"
				>
					COMPANY
				</h4>

				<div class="mt-3 grid space-y-3 text-base">
					<p>
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="/how-it-works">How it works</a
						>
					</p>
				</div>
				<div class="mt-3 grid space-y-3 text-base">
					<p>
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="/pricing">Pricing</a
						>
					</p>
				</div>
				<div class="mt-3 grid space-y-3 text-base">
					<p>
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="/about-us">About us</a
						>
					</p>
				</div>
			</div>
			<!-- End Col -->
		</div>
		<!-- End Grid -->

		<div class="pt-5 mt-5 border-t border-gray-200 dark:border-gray-700">
			<div class="sm:flex sm:justify-between sm:items-center">
				<div class="flex items-center gap-x-3">
					<div class="space-x-4 text-base sm:ml-4">
						<a
							class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
							href="#">Terms & Conditions</a
						>
					</div>
				</div>

				<div class="flex justify-between items-center mt-4">
					<div class="mt-3 sm:hidden">
						<a class="flex-none text-xl font-semibold dark:text-white" href="/">
							<img
								class=""
								src="icons/brandlogos/primrose-logo-sm.svg"
								alt=""
							/>
						</a>
						<p
							class="mt-3 ml-2 text-base sm:text-base text-gray-600 dark:text-gray-400"
						>
							© {date} Cypress.health
						</p>
					</div>

					<!-- Social Brands -->
					<div class="space-x-4">
						<a
							class="inline-block text-gray-500 hover:text-gray-800 dark:hover:text-gray-200"
							href="#"
						>
							<svg
								class="w-4 h-4"
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								viewBox="0 0 16 16"
							>
								<path
									d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
								></path>
							</svg>
						</a>
						<a
							class="inline-block text-gray-500 hover:text-gray-800 dark:hover:text-gray-200"
							href="#"
						>
							<svg
								class="w-4 h-4"
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								viewBox="0 0 16 16"
							>
								<path
									d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
								></path>
							</svg>
						</a>
						<a
							class="inline-block text-gray-500 hover:text-gray-800 dark:hover:text-gray-200"
							href="#"
						>
							<svg
								class="w-4 h-4"
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								viewBox="0 0 16 16"
							>
								<path
									d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"
								></path>
							</svg>
						</a>
					</div>
					<!-- End Social Brands -->
				</div>
				<!-- End Col -->
			</div>
		</div>
	</footer>
</div>
